/* Couleurs principales */
:root {
    --primary-color: #28a745;  /* Vert */
    --secondary-color: #FFA500; /* Orange africain */
    --accent-color: #FF6B6B;    /* Rouge wax */
}

.btn-success {
    background-color: var(--primary-color);
}

.text-success {
    color: var(--primary-color) !important;
}